html {
	background: black;
	min-height: 100%;
	font-weight: 300;
	color: #FFF;
}
*{
	font-family: monospace;
	font-size: 20px;
}
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}
a {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	font-size: 25px;
}
a:hover, li:hover > a {
	color: #FFF;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	margin: 0;
	padding: 10%;
}
h1{
	font-size: 30px;
}
#identity , #contact{
	position: relative;
	font-family: monospace;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#progress{
	position: relative;
}
.linux{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
.atom{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2% auto;
}
.htmlcss{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin: 2% auto;
}
.html{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.css{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.git{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2% auto;
}
.phpapache{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin: 2% auto;
}
.php{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.apache{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.js{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2% auto;
}
.certif{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2% auto;
}
progress{
	height: 10px;
	border-radius: 40px;
}
.degrees , .pro , .personalway{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: monospace;
	font-size: 15px;
}
#miscellaneous {
	position: relative;
}
.misc , .hobby{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
progress::-moz-progress-bar {
	background: #0F0;
	border-radius: 12px;
	box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4),
	0 2px 5px 0px rgba(0,0,0,0.3);
}
#c{
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;
}
#menu {
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	background: rgba(0, 0, 0, 0.05);
	float: left;
	font-size: 15px;
	min-height: 100%;
	margin-left: auto;
}
#menu li {
	display: flex;
	flex-direction: column;
	align-content: center;
	position: relative;
	z-index: 2;
}
